<a href="https://colab.research.google.com/github/Udale123/datasciencefromscratch/blob/master/Data_science_from_scratch2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

chapter 2: A Crash Course in Python

In [4]:
for i in [1,2,3]:
  print(i)  #use whitespace to show heirarchy
print("done looping")

1
2
3
done looping

In [0]:
list_of_lists=[[1,2,3],[4,5,6]]
easier_to_read_list =[[1,2,3],
                      [4,5,6]]

In [7]:
5/2
5//2

2

In [9]:
#defining functions
def double(x):
  return x*2
double(3)

6

In [13]:
anotherdouble = lambda x: x*2 #not good though, use def
anotherdouble(2)

4

In [0]:
#strings can be written using '' or ""
string1 = 'test'
string2 = "test"

In [16]:
#exceptions
try:
  print (0/0)
except ZeroDivisionError:
  print ('cannot divide by zero')

cannot divide by zero

In [27]:
x = list(range(10)) #in python3 range doesnt create a list
x
x[0] = -1
x[:3]

[-1, 1, 2]

In [30]:
#concatenation v addition v append
x = list(range(3))
x.extend([4,5,6])
print(x)
y = [1,2,3]
z = y + [4,5,6]
print(z)
y.append(0)
print(y)

[0, 1, 2, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 0]

In [33]:
#tuples
my_list = [1,2,3]
my_tuple = (1,2,3)
other_tuples = 1,2,3

def sumproduct(x,y):
  return(x+y),(x*y)

s,p = sumproduct(2,3)
p

6

In [0]:
#dictionaries